<a href="https://colab.research.google.com/github/sateeshlevelup/python/blob/main/Introduction_to_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Sateesh Pabbathi
20+ yrs
App->deployed->data->genrate insighits for that data

In [ ]:
Python -> Programming language

Why do we need prog language ?

Humans -> tasks to the computers or servers

to give a task a computer i can use programming language

-> Java
-> c,C++
-> .net
-> shell scrit
-> go
-> ruby
-> Python

In [ ]:
import numpy as np

In [ ]:
Python is famous ??

-> Python is very easy language to learn
-> High demand in jobs
-> high level language
-> rich libraries
-> Frameworks  -> django,streamlit,flask
-> cross-platform
-> opensource -> Free

windows- closed source                       linux -opes source
                                             linux+code -> leveluplinux

In [ ]:
from random import gammavariate
-> web development
-> Datasceicne and ml
-> game devel
-> cybersecurity
-> devops
-> ai
-> gen ai
-> Auto
-> data engineering
-> testing

In [ ]:
name = "sushmitha"

print(name)

sushmitha

In [ ]:
pubic class hellworld{
    public static void main(String[] args){
        System.out.println("hello world")
    }
}

#java

In [ ]:
using System;

class Program

{
 statis void main()
 {
     Console.WriteLine("Hello World");
 }

}
# .net

In [ ]:
print("hello world") #python

In [ ]:
ABC -> inspration for python language -> guido van Rossum -> 1990

Neatherlands

python 1.0 ->
python 1.2
ptyhon 1.3

ptyhon2.0

python 3.10

In [ ]:
from logging import StringTemplateStyle
# Data types

-> int               -> this represents numbers
-> Strings           -> Group of charcters
->float              -> decimal numbers
-> bool              -> True of False

# python is a dynamically typed language

In [ ]:
a = 5
type(a)

int

In [ ]:
a = "sailaja"   # i have asekd the name in the class
type(a)

str

In [ ]:
a = 10.5
type(a)

float

In [ ]:
a = True
type(a)

bool

In [ ]:
"""
this
is
a multiline
comment
"""

In [ ]:
print() # is a function in python used to display the results on the console(Screen)

#Three different ways to use print

name = "sushmitha"
age =20

print('my name is',name,'and i am',age,'yrs old')
print('sushmitha')

# my name is sushmihta and i am 20 yrs old

my name is sushmitha and i am 20 yrs old
sushmitha

In [ ]:
print(f'my name is {name}and i am {age} yrs old')

my name is sushmithaand i am 20 yrs old