<a href="https://colab.research.google.com/github/sateeshlevelup/python/blob/main/Lists_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python Lists

Lists in Python are ordered, mutable (changeable) collections of items.

They are one of the most versatile data structures in Python, allowing you to store a sequence of items, which can be of different types.

Lists are defined by square brackets [], with items separated by commas.

In [ ]:
# Creating a list
fruits = ['apple', 'banana', 'cherry']
numbers = [1, 2, 3, 4, 5]
mixed = ['apple', 1, True, 3.14]

# Key Characteristics:

Ordered: Items have a defined order, and that order will not change unless you explicitly do so.

Mutable: You can change, add, or remove items after the list has been created.

Allows Duplicates: Since lists are indexed, lists can have items with the same value.

In [ ]:
# Creating an empty list
empty_list =[]


# Creating a list with elements

fruits = ["apple","banana","Grapes","date"]


# List with mixed data types

mixed_list = [1,'apple','banana',3.15,True,False,7.90]


# Nested lists

nested_list = ['fruits',['apple','banana']['cheery','date']]

# Accessing Elements in a List
Each element in a list can be accessed using its index, with indexing starting at 0.

In [ ]:
fruits = ['apple','banana','cheery','date']

# Accessing the first element
print(fruits[0])

# Accessing the last element using negative indexing
print(fruits[-1])

apple
date

# Why Use Lists?
Flexibility: Easily add, remove, or modify elements.

Versatility: Suitable for a wide range of applications, from simple data storage to complex data manipulation.

Efficiency: Python's list implementation is optimized for performance with dynamic resizing.

In [ ]:
# Basic List Operations
# Creating a list
numbers = [1,2,3,4,5,6]

# Adding an element
numbers.append(7)
print(numbers)


# Removing an element
numbers.remove(5)
print(numbers)

# Accessing elements
print(numbers[2])

# Slicing the list
print(numbers[1:4])

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 6, 7]
3
[2, 3, 4]

# 2. General Operations on Lists

Lists can be created in various ways, including using literals, constructors, and list comprehensions.

In [ ]:
# Using list literals
colors = ['red', 'green', 'blue']


# Using the list constructor

number=list((1,2,3,4))
furits=list(('apple','banana','cherry'))


# Using list comprehensions

squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

i

# 2. Accessing Elements
Accessing individual elements or sublists using indices and slicing.

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Accessing first element
print(fruits[0])  # Output: apple

# Accessing last element
print(fruits[-1])  # Output: elderberry

# Accessing a sublist
print(fruits[1:4])  # Output: ['banana', 'cherry', 'date']

apple
elderberry
['banana', 'cherry', 'date']

# 3. Slicing Lists
Slicing allows you to extract a portion of the list by specifying a range of indices.

In [ ]:
sublist = list[start:stop:step]

# Parameters:

start: Starting index (inclusive). Defaults to 0 if omitted.

stop: Ending index (exclusive). Defaults to the length of the list if omitted.

step: Interval between indices. Defaults to 1 if omitted.

In [ ]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Basic slicing
print(numbers[2:5])  # Output: [2, 3, 4]

# Slicing with step
print(numbers[1:8:2])  # Output: [1, 3, 5, 7]

# Omitting start and stop
print(numbers[:4])  # Output: [0, 1, 2, 3]
print(numbers[6:])  # Output: [6, 7, 8, 9]

# Negative indexing
print(numbers[-5:-2])  # Output: [5, 6, 7]

# Reversing the list using slicing
print(numbers[::-1])  # Output: [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

[2, 3, 4]
[1, 3, 5, 7]
[0, 1, 2, 3]
[6, 7, 8, 9]
[5, 6, 7]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# 4. Concatenation and Repetition

Concatenation (+ operator): Combines two or more lists into a new list.

Repetition (* operator): Repeats the elements of a list a specified number of times.

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Concatenation
combined = list1 + list2
print(combined)  # Output: [1, 2, 3, 4, 5, 6]

# Repetition
repeated = list1 * 3
print(repeated)  # Output: [1, 2, 3, 1, 2, 3, 1, 2, 3]

# 5. Membership Testing

Check if an element exists within a list using the in and not in operators.

In [ ]:
fruits = ['apple', 'banana', 'cherry']

# Using 'in'
print('banana' not in fruits)  # Output: True

# Using 'not in'
print('date'  in fruits)  # Output: True

False
False

# 6. Iterating Through Lists

Loop through list elements using for loops or comprehensions.

In [ ]:
# Using a for loop
for fruit in ['apple', 'banana', 'cherry']:
    print(fruit)

# Using list comprehension
uppercase_fruits = [fruit.upper() for fruit in ['apple', 'banana', 'cherry']]
print(uppercase_fruits)  # Output: ['APPLE', 'BANANA', 'CHERRY']

# 7. List Comprehensions

A concise way to create lists based on existing lists, applying expressions and conditions.

In [ ]:
new_list = [expression for item in iterable if condition]

# Creating a list of squares
squares = [x**2 for x in range(10)]
print(squares)  # Output: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# Filtering even numbers
evens = [x for x in range(10) if x % 2 == 0]
print(evens)  # Output: [0, 2, 4, 6, 8]

# Applying functions to list elements
import math
roots = [math.sqrt(x) for x in [1, 4, 9, 16]]
print(roots)  # Output: [1.0, 2.0, 3.0, 4.0]

# 3. List Methods

Python lists come equipped with a plethora of built-in methods that facilitate various operations. Mastering these methods is essential for efficient list manipulation.

In [ ]:
#list.append(x)

fruits = ['apple', 'banana', 'cherry']
fruits.append('date')
print(fruits)  # Output: ['apple', 'banana', 'cherry', 'date']

['apple', 'banana', 'cherry', 'date']

# 2. extend(iterable)

Description: Extends the list by appending elements from the iterable (e.g., another list).

In [ ]:
#list.extend(iterable)

fruits = ['apple', 'banana']
more_fruits = ['cherry','date']
fruits.extend(more_fruits)
print(fruits)  # Output: ['apple', 'banana', 'cherry', 'date']

['apple', 'banana', 'cherry', 'date']

# 3. insert(i, x)

Description: Inserts an item x at a specified index i. All items from that position onward are shifted one position to the right.

In [ ]:
#list.insert(i, x)

fruits = ['apple', 'banana', 'cherry']
fruits.insert(1,'bluebeery')
print(fruits)  # Output: ['apple', 'blueberry', 'banana', 'cherry']

['apple', 'bluebeery', 'banana', 'cherry']

# 4. remove(x)

Description: Removes the first occurrence of item x from the list. Raises a ValueError if the item is not found.

In [ ]:
#list.remove(x)

fruits = ['apple', 'banana', 'cherry', 'banana']
fruits.remove('banana')
print(fruits)  # Output: ['apple', 'cherry', 'banana']

['apple', 'cherry', 'banana']

# 5. pop([i])

Description: Removes and returns the item at index i. If no index is specified, it removes and returns the last item in the list.

 Raises an IndexError if the list is empty or the index is out of range.

In [ ]:
#item = list.pop([i])

fruits = ['apple', 'banana', 'cherry']
fruits.pop(1)
print(fruits)  # Output: ['apple', 'banana']

['apple', 'cherry']

# 6. clear()

Description: Removes all items from the list, resulting in an empty list.

In [ ]:
#list.clear()

fruits = ['apple', 'banana', 'cherry']
fruits.clear()
print(fruits)  # Output: []

[]

# 7. index(x, start=0, end=len(list))

Description: Returns the index of the first occurrence of item x in the list within the specified range. Raises a ValueError if the item is not found.

In [ ]:
#index = list.index(x, start, end)

fruits = ['apple', 'banana', 'cherry', 'banana']
index = fruits.index('cherry')
print(index)  # Output: 1

2

# 8. count(x)

Description: Returns the number of times item x appears in the list.

In [ ]:
#count = list.count(x)

fruits = ['apple', 'banana', 'cherry', 'banana','banana']
count = fruits.count('banana')
print(count)  # Output: 2

3

# 9. sort(key=None, reverse=False)

Description: Sorts the items of the list in place. The key parameter specifies a function of one argument that is used to extract a comparison key from each list element. The reverse parameter, if set to True, sorts the list in descending order.

In [ ]:
# list.sort(key=None, reverse=False)

numbers = [4, 2, 5, 1, 3]
numbers.sort()# default it is asending order
print(numbers)  # Output: [1, 2, 3, 4, 5]

numbers.sort(reverse=True)
print(numbers)  # Output: [5, 4, 3, 2, 1]

# Sorting with a key
fruits = ['apple', 'cherry', 'Banana']
fruits.sort(key=str.lower)
print(fruits)  # Output: ['apple', 'Banana', 'cherry']

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
['apple', 'Banana', 'cherry']

# 10. reverse()

Description: Reverses the elements of the list in place.

In [ ]:
#list.reverse()

fruits = ['apple', 'banana', 'cherry']
fruits.reverse()
print(fruits)  # Output: ['cherry', 'banana', 'apple']

['cherry', 'banana', 'apple']

# 11. copy()

Description: Returns a shallow copy of the list.

In [ ]:
#new_list = list.copy()

fruits = ['apple', 'banana', 'cherry']
seond_lst = fruits.copy()
print(seond_lst)  # Output: ['apple', 'banana', 'cherry']

['apple', 'banana', 'cherry']

# 12. __len__()

Description: Returns the number of items in the list.

This is typically accessed using the built-in

In [ ]:
#length = len(list)

fruits = ['apple', 'banana', 'cherry']
length = len(fruits)
print(length)  # Output: 3
print(len(fruits))

3
3

# 13. __getitem__(i)

Description: Retrieves the item at index i. This is typically accessed using square brackets [].

In [ ]:
# item = list[i]

fruits = ['apple', 'banana', 'cherry']
print(fruits[1])  # Output: 'banana'

# 14. __setitem__(i, x)

Description: Sets the item at index i to x.

This allows for modifying existing items in the list.

In [ ]:
#list[i] = x

fruits = ['apple', 'banana', 'cherry']
fruits[1] = 'blueberry'
print(fruits)  # Output: ['apple', 'blueberry', 'cherry']

['apple', 'blueberry', 'cherry']

# 15. __delitem__(i)

Description: Deletes the item at index i from the list.

In [ ]:
#del list[i]

fruits = ['apple', 'banana', 'cherry']
del fruits[1]
print(fruits)  # Output: ['apple', 'cherry']

['apple', 'cherry']

# 16. __iter__()

Description: Returns an iterator object for the list, allowing iteration over its elements.

In [ ]:
#iterator = iter(list)

fruits = ['apple', 'banana', 'cherry']
for i in fruits:
    print(i + 'ly')
# Output:
# apple
# banana
# cherry

applely
bananaly
cherryly

# 17. __contains__(x)

Description: Checks if item x is in the list.

This is typically accessed using the in keyword.

In [ ]:
#exists = x in list

fruits = ['apple', 'banana', 'cherry']
print('banana'not in fruits)  # Output: True
print('date' in fruits)    # Output: False

False
False

# 18. __add__(iterable)

Description: Concatenates two lists using the + operator.

In [ ]:
#combined = list1 + list2

list1 = [1, 2]
list2 = [3, 4]
combined = list1 + list2
print(combined)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

# 19. __mul__(n)

Description: Repeats the list n times using the * operator.

In [ ]:
#repeated = list * n

fruits = ['apple', 'banana']
repeated = fruits * 3
print(repeated)  # Output: ['apple', 'banana', 'apple', 'banana', 'apple', 'banana']

['apple', 'banana', 'apple', 'banana', 'apple', 'banana']

# 1. Managing To-Do Lists
Objective: Create a simple to-do list application that allows adding, removing, viewing, and marking tasks as complete.

Features to Implement:

Add Task: Use append() to add new tasks.
Remove Task: Use remove() or pop() to delete tasks.
View Tasks: Iterate through the list to display current tasks.
Mark as Complete: Modify task status using indexing.

In [ ]:
# Initialize the to-do list
todo_list = []

# Add tasks
todo_list.append("Buy groceries")
todo_list.append("Read a book")
todo_list.append("Write Python code")

# View tasks
print("To-Do List:")
for task in todo_list:
    print(f"- {task}")

# Remove a task
todo_list.remove("Read a book")

# View updated list
print("\nUpdated To-Do List:")
for task in todo_list:
    print(f"- {task}")

To-Do List:
- Buy groceries
- Read a book
- Write Python code

Updated To-Do List:
- Buy groceries
- Write Python code

# 2. Data Aggregation and Analysis

Objective: Aggregate and analyze data using lists, such as calculating statistics or organizing data.

Features to Implement:

Storing Data: Use lists to store numerical data.
Calculations: Compute sum, average, maximum, and minimum.
Filtering Data: Use list comprehensions to filter data based on conditions.

In [ ]:
# Sample data: Daily temperatures
temperatures = [72, 75, 68, 70, 74, 73, 69]

# Calculations
total = sum(temperatures)
average = total / len(temperatures)
max_temp = max(temperatures)
min_temp = min(temperatures)

print(f"Total: {total}")
print(f"Average: {average}")
print(f"Max Temperature: {max_temp}")
print(f"Min Temperature: {min_temp}")

# Filtering data: Days with temperature above 70
warm_days = [temp for temp in temperatures if temp > 70]
print(f"Warm Days: {warm_days}")

Total: 501
Average: 71.57142857142857
Max Temperature: 75
Min Temperature: 68
Warm Days: [72, 75, 74, 73]

# 3. Implementing Stacks and Queues

Objective: Use lists to implement fundamental data structures like stacks (LIFO) and queues (FIFO).

Features to Implement:

Stack Operations: push (using append()), pop.
Queue Operations: enqueue (using append()), dequeue (using pop(0)).

In [ ]:
# Implementing a stack
stack = []
stack.append('a')  # Push
stack.append('b')
stack.append('c')
print("Stack:", stack)  # Output: ['a', 'b', 'c']

# Pop elements
print("Popped:", stack.pop())  # Output: 'c'
print("Stack after pop:", stack)  # Output: ['a', 'b']

# Implementing a queue
queue = []
queue.append('1')  # Enqueue
queue.append('2')
queue.append('3')
print("Queue:", queue)  # Output: ['1', '2', '3']

# Dequeue elements
print("Dequeued:", queue.pop(0))  # Output: '1'
print("Queue after dequeue:", queue)  # Output: ['2', '3']

# 4. Nested Lists and Multidimensional Data

Objective: Work with nested lists to represent multidimensional data structures like matrices or grids.

Features to Implement:

Creating Nested Lists: Lists within lists.
Accessing Nested Elements: Using multiple indices.
Iterating Through Nested Lists: Nested loops.

In [ ]:
# Creating a 3x3 matrix
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

# Accessing elements
print(matrix[0][0])  # Output: 1
print(matrix[2][2])  # Output: 9

# Iterating through the matrix
print("Matrix:")
for row in matrix:
    for element in row:
        print(element, end=' ')
    print()

# 5. Real-World Projects

Engage in comprehensive projects that utilize lists extensively to solve real-world problems.

Project Ideas:

Contact Book: Manage contacts with names, phone numbers, and emails.
Inventory Management: Track products, quantities, and prices.
Student Grades Tracker: Store and analyze student grades.
Weather Data Analyzer: Collect and process weather information over time.

In [ ]:
# Initialize the contact book
contact_book = []

# Function to add a contact
def add_contact(name, phone, email):
    contact = {'name': name, 'phone': phone, 'email': email}
    contact_book.append(contact)

# Function to remove a contact by name
def remove_contact(name):
    for contact in contact_book:
        if contact['name'] == name:
            contact_book.remove(contact)
            print(f"Removed contact: {name}")
            return
    print(f"Contact {name} not found.")

# Function to display all contacts
def display_contacts():
    print("Contact Book:")
    for contact in contact_book:
        print(f"Name: {contact['name']}, Phone: {contact['phone']}, Email: {contact['email']}")

# Adding contacts
add_contact('Alice', '123-456-7890', 'alice@example.com')
add_contact('Bob', '987-654-3210', 'bob@example.com')

# Displaying contacts
display_contacts()

# Removing a contact
remove_contact('Alice')

# Displaying updated contacts
display_contacts()

# Assignment

Question 1

Create a list named fruits containing the elements 'apple', 'banana', and 'cherry'.

In [ ]:
furits = ['apple']

Question 2

 Add 'date' to the end of the fruits list.

In [ ]:
< Type your code here >

Question 3

 Insert 'blueberry' at index 1 in the fruits list.

In [ ]:
< Type your code here >

Question 4

 Remove 'banana' from the fruits list.

In [ ]:
< Type your code here >

Question 5

 Pop the last element from the fruits list and print it.

In [ ]:
< Type your code here >

Question 6

 Clear all elements from the fruits list.

In [ ]:
< Type your code here >

Question 7

 Find the index of 'cherry' in the list ['apple', 'banana', 'cherry'].

In [ ]:
< Type your code here >

Question 8

 Count how many times 'banana' appears in the list ['apple', 'banana', 'cherry', 'banana'].

In [ ]:
< Type your code here >

Question 9

 Sort the list [4, 2, 5, 1, 3] in ascending order.

In [ ]:
< Type your code here >

Question 10

 Sort the list [4, 2, 5, 1, 3] in descending order.

In [ ]:
< Type your code here >

Question 11

 Reverse the list ['apple', 'banana', 'cherry'].

In [ ]:
< Type your code here >

Question 12

 Create a copy of the list ['apple', 'banana', 'cherry'] and assign it to a new variable fruits_copy.

In [ ]:
< Type your code here >

Question 13

 Determine the length of the list ['apple', 'banana', 'cherry'].

In [ ]:
< Type your code here >

Question 14

 Access the second item in the list ['apple', 'banana', 'cherry'].

In [ ]:
< Type your code here >

Question 15

 Change the second item in the list ['apple', 'banana', 'cherry'] to 'blueberry'.

In [ ]:
< Type your code here >

Question 16

 Delete the first item from the list ['apple', 'banana', 'cherry'].

In [ ]:
< Type your code here >

Question 17

 Iterate over the list ['apple', 'banana', 'cherry'] and print each fruit.

In [ ]:
< Type your code here >

Question 18

 Check if 'banana' is in the list ['apple', 'banana', 'cherry'].

In [ ]:
< Type your code here >

Question 19

 Concatenate the lists [1, 2] and [3, 4] using the + operator.

In [ ]:
< Type your code here >

Question 20

 Repeat the list ['a', 'b'] three times using the * operator.

In [ ]:
< Type your code here >

Question 21

 Use the append() method to add 'fig' to the list ['apple', 'banana', 'cherry'].

In [ ]:
< Type your code here >

Question 22

 Use the extend() method to add elements from ['grape', 'honeydew'] to ['apple', 'banana'].

In [ ]:
< Type your code here >

Question 23

 Use the pop() method to remove and print the item at index 1 from the list ['apple', 'banana', 'cherry'].

In [ ]:
< Type your code here >

Question 24

 Find the index of 'banana' in the list ['apple', 'banana', 'cherry'].

In [ ]:
< Type your code here >

Question 25

 Count the number of elements in the list ['apple', 'banana', 'cherry', 'banana'].

In [ ]:
< Type your code here >

Question 26

 Sort the list ['banana', 'apple', 'cherry'] alphabetically.

In [ ]:
< Type your code here >

Question 27

 Sort the list [3, 1, 4, 2] in descending order.

In [ ]:
< Type your code here >

Question 28

 Reverse the list [1, 2, 3, 4].

In [ ]:
< Type your code here >

Question 29

 Create a shallow copy of the list ['apple', 'banana', 'cherry'] and modify the copy without affecting the original.

In [ ]:
< Type your code here >

Question 30

 Use the extend() method to add elements from ['date', 'fig'] to ['apple', 'banana']

In [ ]:
< Type your code here >

Question 31

 Check if 'cherry' is present in the list ['apple', 'banana', 'cherry'] using the in keyword.

In [ ]:
< Type your code here >

Question 32

 Combine the lists ['apple'] and ['banana', 'cherry'] using a list method.

In [ ]:
< Type your code here >

Question 33

 Multiply the list ['a'] by 5 and print the result.

In [ ]:
< Type your code here >

Question 34

 Use the remove() method to delete 'apple' from the list ['apple', 'banana', 'cherry'].

In [ ]:
< Type your code here >

Question 35

 Use the clear() method to empty the list ['apple', 'banana', 'cherry'].

In [ ]:
< Type your code here >

Question 36

 Insert 'dragonfruit' at index 2 in the list ['apple', 'banana', 'cherry'].

In [ ]:
< Type your code here >

Question 37

 Find the index of 'banana' starting from index 2 in the list ['apple', 'banana', 'cherry', 'banana'].

In [ ]:
< Type your code here >

Question 38

 Count how many times 'cherry' appears in the list ['apple', 'banana', 'cherry', 'cherry'].

In [ ]:
< Type your code here >

Question 39

 Sort the list ['apple', 'Banana', 'cherry'] case-insensitively.

In [ ]:
< Type your code here >

Question 40

 Use the copy() method to create a duplicate of the list ['apple', 'banana', 'cherry'] and append 'date' to the copy.

In [ ]:
< Type your code here >

Question 41

 Determine if the list ['apple', 'banana', 'cherry'] is empty.

In [ ]:
< Type your code here >

Question 42

 Use the index() method to find the position of 'cherry' in the list ['apple', 'banana', 'cherry'].

In [ ]:
< Type your code here >

Question 43

 Check the number of items in the list [].

In [ ]:
< Type your code here >

Question 44

 Use the pop() method without an index to remove and print the last item from the list ['apple', 'banana', 'cherry'].

In [ ]:
< Type your code here >

Question 45

 Add multiple items ['date', 'elderberry'] to the list ['apple', 'banana'] using a list method.

In [ ]:
< Type your code here >

Question 46

 Use the remove() method to delete 'fig' from the list ['apple', 'banana', 'cherry'] and handle the potential error.

In [ ]:
< Type your code here >

Question 47

 Sort the list ['apple', 'Banana', 'cherry'] in reverse alphabetical order.

In [ ]:
< Type your code here >

Question 48

 Use the reverse() method on the list [1, 2, 3, 4, 5].

In [ ]:
< Type your code here >

Question 49

 Combine the lists ['x', 'y'] and ['a', 'b'] using the extend() method.

In [ ]:
< Type your code here >

Question 50

 Use the copy() method to duplicate the list ['apple', 'banana', 'cherry'] and verify that modifying the copy does not affect the original list.

In [ ]:
< Type your code here >

Question 51

 Extract the sublist [2, 3] from the list [1, 2, 3, 4, 5] using slicing.

In [ ]:
< Type your code here >

Question 52

 Reverse the list ['a', 'b', 'c', 'd'] using slicing.

In [ ]:
< Type your code here >

Question 53

 Extract every second element from the list [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] using slicing.

In [ ]:
< Type your code here >

Question 54

 Extract the sublist [1, 2, 3] from the list [0, 1, 2, 3, 4, 5] using slicing without specifying the end index.

In [ ]:
< Type your code here >

Question 55

 Extract the last three elements from the list [10, 20, 30, 40, 50] using negative indexing in slicing.

In [ ]:
< Type your code here >

Question 56

 Extract the sublist [3, 4, 5] from the list [1, 2, 3, 4, 5, 6] using slicing with a step of 1.

In [ ]:
< Type your code here >

Question 57

 Use slicing to check if the list [1, 2, 3, 2, 1] is a palindrome.

In [ ]:
< Type your code here >

Question 58

 Extract the first five elements from the list [5, 10, 15, 20, 25, 30, 35] using slicing.

In [ ]:
< Type your code here >

Question 59

 Use slicing to create a new list from [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] that contains only the even numbers.

In [ ]:
< Type your code here >

Question 60

 Extract the sublist [4, 5, 6] from the list [1, 2, 3, 4, 5, 6, 7, 8, 9] using dynamic indices based on list length.

In [ ]:
< Type your code here >

String Reversal
Write a Python program to reverse a given string.

Find Palindrome
Write a Python program to check if a given string is a palindrome.

Count Vowels
Write a Python program to count the number of vowels in a string.

Remove Duplicates from a List
Write a Python program to remove duplicate elements from a list.

Split String into Words
Write a Python program to split a string into a list of words.

Check for Anagram
Write a Python program to check if two given strings are anagrams.

List Reversal
Write a Python program to reverse a list without using the reverse() method.

Find Maximum in a List
Write a Python program to find the maximum value in a list.

Join List into String
Write a Python program to join a list of words into a single string with spaces.

String Character Count
Write a Python program to count the occurrence of each character in a string.

Remove Specific Element from List
Write a Python program to remove all occurrences of a given element from a list.

String Index Finder
Write a Python program to find the index of the first occurrence of a substring in a string.

Merge Two Lists
Write a Python program to merge two lists into one.

List Element Sum
Write a Python program to calculate the sum of all elements in a list.

String Uppercase Conversion
Write a Python program to convert all lowercase letters in a string to uppercase.

List Sorting
Write a Python program to sort a list in ascending order without using the sort() method.

Replace a Word in String
Write a Python program to replace all occurrences of a word in a string.

Find Unique Elements in List
Write a Python program to find all unique elements in a list.

String Slicing
Write a Python program to extract a substring from a string using slicing.

Find Common Elements in Two Lists
Write a Python program to find the common elements between two lists.