<a href="https://colab.research.google.com/github/sateeshlevelup/python/blob/main/Python_for_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

5

In [ ]:
a = [5,6,7]

b = 5
b = 6
b = 7


for b in a:
  print(b + 2)

7
8
9

In [ ]:
for x in a:
  print(x)

1
2
3
4
5

In [ ]:
s = ["i","am","learning","python","at","leveUP"]

for i in s:
  print(i)

i
am
learning
python
at
leveUP

ly to the end for every element

In [ ]:
s = ["i","am","learning","python","at","leveUP"]

for i in s:
  print(i+"ly")

ily
amly
learningly
pythonly
atly
leveUPly

In [ ]:
word = "levelUP"

for char in word:
  print(char)

l
e
v
e
l
U
P

In [ ]:
for i in range(1,10):
  for j in range(1,11):
    print(f"{i} x {j}= {i * j}")
  print("-----------------------")

1 x 1= 1
1 x 2= 2
1 x 3= 3
1 x 4= 4
1 x 5= 5
1 x 6= 6
1 x 7= 7
1 x 8= 8
1 x 9= 9
1 x 10= 10
-----------------------
2 x 1= 2
2 x 2= 4
2 x 3= 6
2 x 4= 8
2 x 5= 10
2 x 6= 12
2 x 7= 14
2 x 8= 16
2 x 9= 18
2 x 10= 20
-----------------------
3 x 1= 3
3 x 2= 6
3 x 3= 9
3 x 4= 12
3 x 5= 15
3 x 6= 18
3 x 7= 21
3 x 8= 24
3 x 9= 27
3 x 10= 30
-----------------------
4 x 1= 4
4 x 2= 8
4 x 3= 12
4 x 4= 16
4 x 5= 20
4 x 6= 24
4 x 7= 28
4 x 8= 32
4 x 9= 36
4 x 10= 40
-----------------------
5 x 1= 5
5 x 2= 10
5 x 3= 15
5 x 4= 20
5 x 5= 25
5 x 6= 30
5 x 7= 35
5 x 8= 40
5 x 9= 45
5 x 10= 50
-----------------------
6 x 1= 6
6 x 2= 12
6 x 3= 18
6 x 4= 24
6 x 5= 30
6 x 6= 36
6 x 7= 42
6 x 8= 48
6 x 9= 54
6 x 10= 60
-----------------------
7 x 1= 7
7 x 2= 14
7 x 3= 21
7 x 4= 28
7 x 5= 35
7 x 6= 42
7 x 7= 49
7 x 8= 56
7 x 9= 63
7 x 10= 70
-----------------------
8 x 1= 8
8 x 2= 16
8 x 3= 24
8 x 4= 32
8 x 5= 40
8 x 6= 48
8 x 7= 56
8 x 8= 64
8 x 9= 72
8 x 10= 80
-----------------------
9 x 1= 9
9 x 2= 18
9 x 3= 27
9 x 4= 36
9 x 5= 45
9 x 6= 54
9 x 7= 63
9 x 8= 72
9 x 9= 81
9 x 10= 90
-----------------------

Use forloop with else

In [ ]:
numbers = [1,2,3,4,5]
for num in numbers:
  if num == 3:
    print("found 3!")
    break
else:
  print('3 is not found')

3 is not found

In [ ]:
for varibale in iterable:
  if condation:
    break

In [ ]:
# sum of numbers in range 1 to 10

total = 0
for n in range(1,11):
  total += n
print(f"The sum of numbers from 1 to 10 is {total}")

The sum of numbers from 1 to 10 is 55

In [ ]:
# print all the letter's expret l and o "levelupoispython"

for i in 'levelupoispython':
  if i == 'l' or i == 'o':
    continue
  print(i)

e
v
e
u
p
i
s
p
y
t
h
n

In [ ]:
for i in 'evelupoispython':
  if i == 'l' or i == 'o':
    break
  print(i)

e
v
e

In [ ]:
# enumerate
list = ["eat","sleep","repeat"]

for i,j in enumerate (list):
  print(i,j)

0 eat
1 sleep
2 repeat

In [ ]:
# i love learning python in LevelUP

text = "i love learning python in LevelUP"

char_count = {}

for char in text:
  if char !=" ": #ignore spaces
    char_count[char] = char_count.get(char,0)+1
print(char_count)

{'i': 3, 'l': 3, 'o': 2, 'v': 2, 'e': 4, 'a': 1, 'r': 1, 'n': 4, 'g': 1, 'p': 1, 'y': 1, 't': 1, 'h': 1, 'L': 1, 'U': 1, 'P': 1}

In [ ]:
#Print numbers from 1 to 10 using a for loop.

a = [1,2,3,4,5,6,7,8,9,10]

for x in a:
  print (x)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#Print all even numbers from 1 to 20.

In [ ]:
a = [1,2,3,21,5,6,7,8,9,10,11,12,13,14,15,16,20]

print(a[1::2])

#for x in a:
 # print(x[1::2])

[2, 21, 6, 8, 10, 12, 14, 16]

In [ ]:
# Print each character of the string "Python".
a = "python"

for i in a:
  print(i)

p
y
t
h
o
n

In [ ]:
#Print numbers from 10 to 1

# Assignmnets

### **Basic Iteration**
1. Print numbers from 1 to 10 using a `for` loop.
2. Print all even numbers from 1 to 20.
3. Print all odd numbers from 1 to 20.
4. Print each character of the string `"Python"`.
5. Print each item in the list `[10, 20, 30, 40, 50]`.

---

### **Ranges**
6. Print numbers from 10 to 1 (in reverse order).
7. Print numbers from 5 to 50, incrementing by 5.
8. Print numbers between 0 and 30 that are divisible by 3.
9. Print the first 10 multiples of 7.
10. Use a `for` loop to calculate the sum of numbers from 1 to 50.

---

### **Strings**
11. Print each vowel in the string `"education"`.
12. Count the number of vowels in the string `"hello world"`.
13. Reverse the string `"python"` using a `for` loop.
14. Find the frequency of each character in the string `"apple"`.
15. Convert the string `"hello"` to uppercase using a `for` loop.

---

### **Lists**
16. Calculate the sum of all numbers in the list `[1, 2, 3, 4, 5]`.
17. Find the largest number in the list `[10, 20, 5, 50, 30]`.
18. Find the smallest number in the list `[15, 25, 10, 30]`.
19. Print all items in the list `[‘cat’, ‘dog’, ‘bird’]` in reverse order.
20. Create a new list containing the square of each number in `[1, 2, 3, 4, 5]`.

---

### **Dictionaries**
21. Print all the keys in the dictionary `{'name': 'Alice', 'age': 25}`.
22. Print all the values in the dictionary `{'name': 'Alice', 'age': 25}`.
23. Calculate the sum of all values in `{'a': 10, 'b': 20, 'c': 30}`.
24. Print each key-value pair in the dictionary `{'x': 5, 'y': 10}`.
25. Find the key with the largest value in `{'a': 1, 'b': 3, 'c': 2}`.

---

### **Patterns**
26. Print a right triangle pattern of stars:
    ```
    *
    **
    ***
    ****
    ```
27. Print a square of stars (5x5).
28. Print an inverted triangle of stars:
    ```
    ****
    ***
    **
    *
    ```
29. Print a pyramid pattern of stars:
    ```
       *
      ***
     *****
    ```
30. Print numbers in a triangle pattern:
    ```
    1
    12
    123
    1234
    ```

---

### **Mathematics**
31. Print the first 10 terms of the Fibonacci sequence.
32. Calculate the factorial of a number (e.g., 5! = 120).
33. Check if a number is prime using a `for` loop.
34. Generate a multiplication table for a given number (e.g., 5).
35. Find all prime numbers between 1 and 50.

---

### **Advanced Iteration with Lists**
36. Filter out even numbers from the list `[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]`.
37. Create a list of cubes of numbers from 1 to 10.
38. Print only strings longer than 4 characters in `['apple', 'cat', 'banana', 'dog']`.
39. Create a list of numbers divisible by 3 from `[10, 15, 20, 25, 30]`.
40. Combine two lists into a single list using a `for` loop.

---

### **Nested Loops**
41. Create a 3x3 grid of numbers using nested `for` loops.
42. Print the multiplication table for numbers 1 to 5 using nested loops.
43. Use nested loops to print all pairs of numbers from `[1, 2, 3]` and `[4, 5, 6]`.
44. Print a pattern of alternating `0` and `1`:
    ```
    0 1 0 1
    1 0 1 0
    0 1 0 1
    1 0 1 0
    ```
45. Generate the transpose of a 2x2 matrix `[[1, 2], [3, 4]]`.

---

### **File Handling**
46. Read and print each line from a file using a `for` loop.
47. Count the number of lines in a file using a `for` loop.
48. Write numbers from 1 to 10 to a file using a `for` loop.
49. Find the longest word in a file using a `for` loop.
50. Count the frequency of each word in a file.

---

In [ ]:
# print numbers 1 to 10 using range
for i in range (1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
b = [1,34,56,5,6,89]

total = 0

for i in b:
  total += i

print(total)

191

Write a program that computes the factorial of a given positive integer using a for loop.

String Reversal

Multiplication Table Generator

In [ ]:
Write a program that computes the factorial of a given positive integer using a for loop.