<a href="https://colab.research.google.com/github/sateeshlevelup/python/blob/main/Python_Day_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = "hello LevelUp, i am learning python"

In [ ]:
print(a)

NameError: name 'a' is not defined

In [ ]:
name = input("enter the name:")
age = 25
color = "green"

print(name)
print("name")

enter the name:zxfbn
zxfbn

In [ ]:
pin =1234

In [ ]:
a = int(input("enter the number"))

b = int(input("enter the number"))
print(a+b)

enter the number100
enter the number200
300

In [ ]:
# Taking the input from the usera

In [ ]:
name = "raju"
age = 40

print(name) # this will print the value of variable
print("this is python") # this will print litrally what ever value is in the " "
print("My name is ",name,"and my age is " ,age)
print(f"my name is {name} and my age is {age}")

raju
this is python
My name is  raju and my age is  40
my name is raju and my age is 40

In [ ]:
name = input("enter the name:")
print(name)

enter the name:1234
1234

this is notes

In [ ]:
pin=int(input("please enter your pin number"))
print(pin)

please enter your pin number1234
1234

In [ ]:
print(f"Hello,{name}!")
print(f"Hello,{name} is {age} years old!")
print(f"Hello,{name}'s favourite color is {color}")

print()

In [ ]:
a = 10
print(a)

a=b=c=d=10,

e = d
print(a)
print(b)
print(c)
print(d)
print(e)

10
10
10
10
10
10

In [ ]:
a,b,c,d,e =10,20,30,40,a

print(a)
print(b)
print(c)
print(d)
print(e)

10
20
30
40
10

In [ ]:
a = True
type(a)

bool

In [ ]:
# int   -> numbers
# string  -> Group of charaters
# Float   -> Decimal values
# Boolen -> True or false

In [ ]:
a=b=c=100
print(a)
print(b)
print(c)
print(a,b,c)

100
100
100
100 100 100

In [ ]:
type(a)

int

In [ ]:
x,y,z = 1,10.5,"levelup"
print(x)
print(y)
print(z)

1
10.5
levelup

In [ ]:
del x
del y
del z

In [ ]:
print(x)

NameError: name 'x' is not defined

In [ ]:
a = 10

In [ ]:
indentation

{
    [IndentationError]
}

In [ ]:
message = " I am a global variable"

def greet():
  greeting = " Hello i am local variable"
  print(greeting)
  print(message)

#greet()
print(message)
#print(greeting)

 I am a global variable

In [ ]:
a,b = 5,10
print(a)
print(b)

a,b=b,a
print(a)
print(b)

5
10
10
5

In [ ]:
del a
del b

In [ ]:
print(a)

NameError: name 'a' is not defined

# DATA TYPES

In [ ]:
a = 4
b= 4.5
c =4j

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
a = True
print(type(a))

b = False
print(type(b))

<class 'bool'>
<class 'bool'>

In [ ]:
s = "This is LevelUp"
print(type(s))

<class 'str'>

In [ ]:
a = [10,29,30,45,65]
print(type(a))

<class 'list'>

In [ ]:
t =(1,2,3)
print(type(t))

<class 'tuple'>

In [ ]:
d ={'name':'LevelUP','age':25}
print(type(d))

<class 'dict'>

In [ ]:
set1 = {1,2,3,4,5}
print(type(set1))

<class 'set'>